:root{
    --primary-color: #011627;
    --primary-color-2: #1b2735;
    --primary-color-3: #011627;
    --primary-color-4: #2b3b4d;
    --primary-color-5: #01142b;
    --primary-color-6: #022d5e;
    --primary-color-7: #152a42;
    --secondary-color: #daa104;
    --secondary-color-2: #fcba03;
    --secondary-color-3: #806e3d;
    --secondary-color-4: #9e7504;
    --secondary-color-5: #eeaf03;
    --secondary-color-6: #cf9902;
    --secondary-color-7: #ac7f04;
    --secondary-color-8: #ffbb00;
    --secondary-color-9: #be8d03;
    --secondary-color-10: #e0b115;
    --tertiary-color: #f8fffd;
    --tertiary-color-2: #f0f8ffe7;
    --tertiary-color-3: #e0faff;
    --tertiary-color-4: #636669;
    --tertiary-color-5: #a3b1c6ea;
    --tertiary-color-6: #ffffffcc;
    --tertiary-color-7: #E0E5EC;
    --tertiary-color-8: #f0f4fa;
    --tertiary-color-9: #fff;
    --tertiary-color-10: #394150;
    --tertiary-color-11: #a3b1c699;
    --tertiary-color-12: #ffffff80;
    --tertiary-color-13: #697283;
    --tertiary-color-14: #f5f6f7;
    --tertiary-color-15: #4a5568;
    --tertiary-color-16: #DFE4EA;
    --tertiary-color-17: #282e38;
    --tertiary-color-18: #1b2735;
    --tertiary-color-19: #525964;
    --tertiary-color-20: #717781;
    --tertiary-color-21: #f0efef;
    --tertiary-color-22: #ced3d8;
    --tertiary-color-23: #778296;
    --tertiary-color-24: #011627;
    --quaternary-color: #055a4f;
    --quote-color: #97a0a7;
    --section-title-color: #394150;
}