#Projects{
    width: 100vw;
    min-height: 100vh;
    background: #f8fffd;
}

#Projects-Title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7vh 0 1vh;
}

#Projects-Title h1{
    font-size: 4em;
    color: #394150;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, .1), 
               -5px -5px 10px rgba(255, 255, 255, 1);
}

@media(max-width: 700px) {
    #Projects-Title h1{
        font-size: 4em;
    }
}

@media(min-width: 2560px){
    #Projects-Title h1{
        font-size: 5.5em;
    }
}

@media(min-width: 3840px){
    #Projects-Title h1{
        font-size: 9em;
    }
}

@media(min-width: 7680px){
    #Projects-Title h1{
        font-size: 18em;
    }
}