.ProjectCard{
    width: 280px;
    height: 350px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    color: #394150;
    background-color:#f0f4fa;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
    animation: ProjectCard-hover-out-anime 0.5s ease forwards;
    -moz-animation: ProjectCard-hover-out-anime 0.5s ease forwards;
    -webkit-animation: ProjectCard-hover-out-anime 0.5s ease forwards;
    -o-animation: ProjectCard-hover-out-anime 0.5s ease forwards;
    cursor: pointer;
}

.ProjectCard:hover{
    animation: ProjectCard-hover-anime 0.5s ease forwards;
    -moz-animation: ProjectCard-hover-anime 0.5s ease forwards;
    -webkit-animation: ProjectCard-hover-anime 0.5s ease forwards;
    -o-animation: ProjectCard-hover-anime 0.5s ease forwards;
}

.ProjectCard-Header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.ProjectCard-Header img{
    width: 75px;
    transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -o-transform: translateY(-20%);
}

.ProjectCard-Header h1{
    display: inline;
}

.ProjectCard-Links img{
    width: 25px;
    padding: 0 5px;
    transform: translateY(50%);
    -moz-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -o-transform: translateY(50%);
    animation: Link-hover-out-anime 0.5s ease forwards;
    -moz-animation: Link-hover-out-anime 0.5s ease forwards;
    -webkit-animation: Link-hover-out-anime 0.5s ease forwards;
    -o-animation: Link-hover-out-anime 0.5s ease forwards;
}

.ProjectCard-Links img:hover{
    animation: Link-hover-anime 0.5s ease forwards;
    -moz-animation: Link-hover-anime 0.5s ease forwards;
    -webkit-animation: Link-hover-anime 0.5s ease forwards;
    -o-animation: Link-hover-anime 0.5s ease forwards;
}

.ProjectCard-Footer{
    color: #697283;
}

.ProjectCard-Footer span{
    margin-right: 10px;
}

@keyframes Link-hover-anime{
    to{
        transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
}

@-moz-keyframes Link-hover-anime{
    to{
        transform: scale(1.5);
        -moz-transform: scale(1.5);
    }
}

@-webkit-keyframes Link-hover-anime{
    to{
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
}

@-o-keyframes Link-hover-anime{
    to{
        transform: scale(1.5);
        -o-transform: scale(1.5);
    }
}

@keyframes Link-hover-out-anime{
    from{
        transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
    to{
        transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
    }
}

@-moz-keyframes Link-hover-out-anime{
    from{
        transform: scale(1.5);
        -moz-transform: scale(1.5);
    }
    to{
        transform: scale(1);
        -moz-transform: scale(1);
    }
}

@-webkit-keyframes Link-hover-out-anime{
    from{
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
    to{
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@-o-keyframes Link-hover-out-anime{
    from{
        transform: scale(1.5);
        -o-transform: scale(1.5);
    }
    to{
        transform: scale(1);
        -o-transform: scale(1);
    }
}

@keyframes ProjectCard-hover-anime{
    to{
        transform: translateY(-10px) scale(1.05);
        -moz-transform: translateY(-10px) scale(1.05);
        -webkit-transform: translateY(-10px) scale(1.05);
        -o-transform: translateY(-10px) scale(1.05);
        box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.918), -9px -9px 16px  rgba(255, 255, 255, 0.801);
    }
}

@-moz-keyframes ProjectCard-hover-anime{
    to{
        transform: translateY(-10px) scale(1.05);
        -moz-transform: translateY(-10px) scale(1.05);
        box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.918), -9px -9px 16px  rgba(255, 255, 255, 0.801);
    }
}

@-webkit-keyframes ProjectCard-hover-anime{
    to{
        transform: translateY(-10px) scale(1.05);
        -webkit-transform: translateY(-10px) scale(1.05);
        box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.918), -9px -9px 16px  rgba(255, 255, 255, 0.801);
    }
}

@-o-keyframes ProjectCard-hover-anime{
    to{
        transform: translateY(-10px) scale(1.05);
        -o-transform: translateY(-10px) scale(1.05);
        box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.918), -9px -9px 16px  rgba(255, 255, 255, 0.801);
    }
}

@keyframes ProjectCard-hover-out-anime{
    from{
        transform: translateY(-10px) scale(1.05);
        -moz-transform: translateY(-10px) scale(1.05);
        -webkit-transform: translateY(-10px) scale(1.05);
        -o-transform: translateY(-10px) scale(1.05);
        box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.918), -9px -9px 16px  rgba(255, 255, 255, 0.801);
    }
    to{
        transform: translateY(0px) scale(1);
        -moz-transform: translateY(0px) scale(1);
        -webkit-transform: translateY(0px) scale(1);
        -o-transform: translateY(0px) scale(1);
    }
}

@-moz-keyframes ProjectCard-hover-out-anime{
    from{
        transform: translateY(-10px) scale(1.05);
        -moz-transform: translateY(-10px) scale(1.05);
        box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.918), -9px -9px 16px  rgba(255, 255, 255, 0.801);
    }
    to{
        transform: translateY(0px) scale(1);
        -moz-transform: translateY(0px) scale(1);
    }
}

@-webkit-keyframes ProjectCard-hover-out-anime{
    from{
        transform: translateY(-10px) scale(1.05);
        -webkit-transform: translateY(-10px) scale(1.05);
        box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.918), -9px -9px 16px  rgba(255, 255, 255, 0.801);
    }
    to{
        transform: translateY(0px) scale(1);
        -webkit-transform: translateY(0px) scale(1);
    }
}

@-o-keyframes ProjectCard-hover-out-anime{
    from{
        transform: translateY(-10px) scale(1.05);
        -o-transform: translateY(-10px) scale(1.05);
        box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.918), -9px -9px 16px  rgba(255, 255, 255, 0.801);
    }
    to{
        transform: translateY(0px) scale(1);
        -o-transform: translateY(0px) scale(1);
    }
}

@media(max-width: 350px){
    .ProjectCard{
        width: 250px;
        height: 350px;
    }
}

@media(min-width: 2560px){
    .ProjectCard{
        width: 35vh;
        height: 45vh;
        padding: 4vh;
    }
    .ProjectCard-Header img{
        width: 5vw;
        padding: 0 1vh;
    }
    .ProjectCard-Links img{
        width: 2vw;
    }
    .ProjectCard-Body h1{
        font-size: 4em;
    }
    .ProjectCard-Body p{
        font-size: 1.6em;
    }
    .ProjectCard-Footer span{
        font-size: 1.6em;
    }
}

@media(min-width: 3840px){
    .ProjectCard-Body h1{
        font-size: 6em;
    }
    .ProjectCard-Body p{
        font-size: 2.6em;
    }
    .ProjectCard-Footer span{
        font-size: 2.6em;
    }
}

@media(min-width: 7680px){
    .ProjectCard-Body h1{
        font-size: 12em;
    }
    .ProjectCard-Body p{
        font-size: 5.2em;
    }
    .ProjectCard-Footer span{
        font-size: 5.2em;
    }
}