#DevelopmentSkillCard{
    display: inline-block;
    color: #4a5568;
    width: 310px;
    padding: 40px 40px 40px;
    border-radius: 10px;
    background: #f5f6f7;
    text-align: center;
    box-shadow: -4px -2px 4px 0px #ffffff, 4px 2px 6px 0px #DFE4EA;
    transform: translateY(-50px);
}

@media(max-width: 1200px){
    #DevelopmentSkillCard{
        width: 200px;
    }
}

@media(max-width: 800px){
    #DevelopmentSkillCard{
        width: 310px;
        transform: translateY(0);
    }
}

@media(max-width: 400px){
    #DevelopmentSkillCard{
        width: 230px;
    }
}

@media(min-width: 2560px){
    #DevelopmentSkillCard{
        width: 20vw;
        padding: 4vh 4vh 4vh;
        border-radius: 1.5vh;
    }
}

@media(min-width: 3840px){

}

@media(min-width: 7680px){

}
