#HeroArea{
    height: 100vh;
    width: 100vw;
    background: var(--tertiary-color);
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.HeroContainer{
    text-align: left;
}
h1{
    margin: 0;
}
.BoldText{
    font-weight: bolder;
}
.Text-1{
    color: var(--secondary-color-3);
    font-size: 1.5em;
    letter-spacing: 1px;
}
.Text-2{
    font-size: 6.5em;
    margin-bottom: 1.5vh;
    color: var(--primary-color-2);
}
.Text-3{
    margin-bottom: 2vh;
    width: 50%;
    font-size: 1.5em;
    color: var(--quaternary-color);
}
.GetInTouch-Btn{
    padding: 15px 40px;
    background: transparent;
    color: var(--secondary-color-4);
    border: 1.5px solid var(--secondary-color-5);
    font-weight: bold;
    font-size: 1.1em;
}
.GetInTouch-Btn:hover{
    color: var(--primary-color-2);
    background: var(--secondary-color-5);
    border-bottom: 3px solid var(--secondary-color-4); 
}
.GetInTouch-Btn:focus{
    outline: none;
}
.GetInTouch-Btn:active{
    margin-top: 2px;
    background: var(--secondary-color-6);
    border-bottom: 1px solid var(--secondary-color-7); 
    transform: translateY(2px);
    -moz-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -o-transform: translateY(2px);
}
@media(max-width: 1260px){
    .Text-1{
        font-size: 1.2em;
    }
    .Text-2{
        font-size: 4em;
    }
    .Text-3{
        font-size: 1.3em;
        width: 65%;
    }
}
@media(min-width: 2560px){
    .Text-1{
        font-size: 1.8em;
    }
    .Text-2{
        font-size: 6em;
    }
    .Text-3{
        font-size: 2.6em;
        width: 65%;
    }
    .GetInTouch-Btn{
        padding: 1vh 3vh;
        font-size: 2em;
    }
}
@media(min-width: 3840px){
    .Text-1{
        font-size: 4em;
    }
    .Text-2{
        font-size: 8em;
    }
    .Text-3{
        font-size: 5em;
        width: 65%;
    }
    .GetInTouch-Btn{
        padding: 1vh 3vh;
        font-size: 4em;
    }
}
@media(max-width: 800px){
    .Text-1{
        font-size: 1.2em;
    }
    .Text-2{
        font-size: 3em;
    }
    .Text-3{
        font-size: 1.3em;
        width: 75%;
    }
}
@media(max-width: 450px){
    .Text-1{
        font-size: 1.2em;
    }
    .Text-2{
        font-size: 3em;
    }
    .Text-3{
        font-size: 1.3em;
        width: 100%;
    }
}