#Skills-Container{
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient( var(--tertiary-color-7) , var(--tertiary-color-14), var(--tertiary-color-14));
    background: -moz-linear-gradient( var(--tertiary-color-7) , var(--tertiary-color-14), var(--tertiary-color-14));
    background: -webkit-linear-gradient( var(--tertiary-color-7) , var(--tertiary-color-14), var(--tertiary-color-14));
    background: -o-linear-gradient( var(--tertiary-color-7) , var(--tertiary-color-14), var(--tertiary-color-14));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}

#Skills-Title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#Skills-Title h1{
    font-size: 4em;
    color: var(--tertiary-color-10);
    text-shadow: 5px 5px 10px #0000001a, 
               -5px -5px 10px #ffffff;
}

#Skills-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5vw;
    -moz-column-gap: 5vw;
    -webkit-column-gap: 5vw;
    align-items: start;
}

.SkillCard-Title{
    padding-bottom: 15px;
}

.SkillCard-Title h1{
    display: inline-block;
}

.SkillCard-Title img{
    display: inline-block;
    width: 35px;
    padding-right: 15px;
    transform: translateY(20%);
    -moz-transform: translateY(20%);
    -webkit-transform: translateY(20%);
    -o-transform: translateY(20%);
}

.SkillCard-Section{
    text-align: left;
    padding: 5px 0;
}

.SkillCard-Section-Title{
    color: var(--secondary-color-10);
}

.SkillCard-Section-list{
    padding-left: 20px;
}

@media(max-width: 1200px){
    #Skills-grid{
        column-gap: 2vw;
        -moz-column-gap: 2vw;
        -webkit-column-gap: 2vw;
    }
    .SkillCard-Title h1{
        font-size: 1.4em;
    }
    .SkillCard-Title img{
        width: 25px;
    }
    .SkillCard-Section-Title{
        font-size: 0.8em;
    }
}

@media(max-width: 800px){
    #Skills-Title h1{
        font-size: 4em;
    }
    #Skills-grid{
        grid-template-columns: 1fr;
        row-gap: 3vh;
    }
    .SkillCard-Title h1{
        font-size: 2em;
    }
    .SkillCard-Title img{
        width: 40px;
    }
    .SkillCard-Section-Title{
        font-size: 1em;
    }
}

@media(max-width: 400px){
    .SkillCard-Title h1{
        font-size: 1.4em;
    }
    .SkillCard-Title img{
        width: 25px;
    }
    .SkillCard-Section-Title{
        font-size: 0.8em;
    }
}

@media(min-width: 2560px){
    #Skills-Title h1{
        font-size: 5.5em;
    }
    #Skills-grid{
        column-gap: 4vw;
        -moz-column-gap: 4vw;
        -webkit-column-gap: 4vw;
    }
    .SkillCard-Title h1{
        font-size: 3em;
    }
    .SkillCard-Title img{
        width: 2vw;
    }
    .SkillCard-Section-Title{
        font-size: 1.5em;
    }
    .SkillCard-Section-list{
        font-size: 1.8em;
    }
}

@media(min-width: 3840px){
    #Skills-Title h1{
        font-size: 9em;
    }
    .SkillCard-Title h1{
        font-size: 4.2em;
    }
    .SkillCard-Section-Title{
        font-size: 2.5em;
    }
    .SkillCard-Section-list{
        font-size: 2.8em;
    }
}

@media(min-width: 7680px){
    #Skills-Title h1{
        font-size: 18em;
    }
    .SkillCard-Title h1{
        font-size: 8.2em;
    }
    .SkillCard-Section-Title{
        font-size: 4em;
    }
    .SkillCard-Section-list{
        font-size: 4.6em;
    }
}