.ShowcaseProject{
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    transform: translateX(-10px);
}

.ShowcaseProject-Img-Container img{
    width: 500px;
    padding-right: 70px;
}

.ShowcaseProject-Desc{
    width: 500px;
}

.ShowcaseProject-Desc h1{
    color: #1b2735;
}

.ShowcaseProject-Desc p{
    color: #2b3b4d;
}

.ShowcaseProject-GitLink{
    border-radius: 2%;
    display: inline-block;
    text-decoration: none;
    border-bottom: 6px solid #01142b;
    color: #e0faff;
    background: #1b2735;
    padding: 0.8em 3em;
    margin-right: 15px;
}

.ShowcaseProject-GitLink:active{
    border-bottom: 2px solid #022d5e;
    transform: translateY(4px);
}

.ShowcaseProject-LiveLink{
    border-radius: 2%;
    display: inline-block;
    text-decoration: none;
    color: #152a42;
    background: #ffbb00;
    border-bottom: 5px solid #be8d03; 
    padding: 0.8em 3em;
}

.ShowcaseProject-LiveLink:active{
    border-bottom: 1px solid #ac7f04;
    transform: translateY(4px);
}