.Nav-Bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.1px;
    z-index: 1;
    padding: 2vh 10%;
    background: transparent;
}

.Nav-Dark {
    background: #011627;
    animation: menu-anime 1s ease forwards;
    -moz-animation: menu-anime 1s ease forwards;
    -webkit-animation: menu-anime 1s ease forwards;
    -o-animation: menu-anime 1s ease forwards;
}

.Container {
    width: 80%;
    margin: auto;
}

#Menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    -o-transform: translateY(-30%);
}

#Menu ul li {
    margin: 0 20px;
}

#Menu ul li a {
    color: #1b2735;
    text-decoration: none;
    padding: 3px;
}

#Menu ul li a:hover {
    color: #daa104;
}

#Logo {
    width: 12vw;
}

#Logo svg {
    position: relative;
    stroke-width: 3;
    top: 50%;
}

.menu {
    display: none;
}

input {
    display: none;
}

.menu svg path {
    fill: none;
    stroke: #fcba03;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all .8s cubic-bezier(.645, .045, .355, 1);
    -moz-transition: all .8s cubic-bezier(.645, .045, .355, 1);
    -webkit-transition: all .8s cubic-bezier(.645, .045, .355, 1);
    -o-transition: all .8s cubic-bezier(.645, .045, .355, 1);
}

circle {
    fill: #00000077;
    opacity: 0;
}

label:hover circle {
    opacity: 1;
}

.cross input:checked+svg .line--1,
.cross input:checked+svg .line--3 {
    --length: 22.627416998;
}

.cross input:checked+svg .line--2 {
    --length: 0;
}

.back input:checked+svg .line--1,
.back input:checked+svg .line--3 {
    --length: 8.602325267;
}

.menu--2 .line--1,
.menu--2 .line--3 {
    --total-length: 111.22813415527344;
    --offset: -50.22813415527344;
}

.menu--2 .line--2 {
    --total-length: 99;
}

.menu--2 input:checked+svg path {
    transform: translateX(30px);
    -moz-transform: translateX(30px);
    -webkit-transform: translateX(30px);
    -o-transform: translateX(30px);
}

.menu--2 input:checked+svg .line--1,
.menu--2 input:checked+svg .line--3 {
    --offset: -16.9705627485;
}

.menu--2 input:checked+svg .line--2 {
    --offset: -20;
}

@media(max-width: 1000px) {
    .Nav-Bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3vh 0 0 0vh;
        background: #011627;
        width: 100%;
        margin: 0;
    }
    .menu {
        display: block;
        width: 5vw;
        justify-self: end;
        align-self: start;
        padding-right: 5vw;
        padding-bottom: 1vh;
    }
    #Logo {
        width: 10vw;
        padding-left: 5vh;
         
    }
    #Menu {
        display: grid;
        grid-template-columns: 80vw 20vw;
    }
    #Menu ul {
        flex-direction: column;
        display: none;
        transform: translateY(0%);
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
    #Menu ul li {
        padding: 5px;
    }
    #Menu ul li a {
        color: #fcba03;
    }
}

@media(min-width: 2560px) {
    #Logo {
        width: 10vw;
        padding-left: 0vh;
         
    }

    #Menu ul li a {
        font-size: 1.6em;
    }
}

@media(min-width: 3840px) {
    #Logo {
        width: 15vw;
        padding-left: 0;
         
    }
    #Menu ul li a {
        font-size: 2.5em;
    }
}

@media(max-width: 600px) {
    .menu svg {
        width: 40px;
        height: 40px;
    }
    #Logo svg {
        width: 100px;
        height: 50px;
    }
}

@keyframes menu-anime {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@-moz-keyframes menu-anime {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@-webkit-keyframes menu-anime {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@-o-keyframes menu-anime {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
/* Scroll CSS */
.Nav-Bar-ScrollDown{
    animation: navbar-scrolldown-anime 0.6s ease forwards;
    -moz-animation: navbar-scrolldown-anime 0.6s ease forwards;
    -webkit-animation: navbar-scrolldown-anime 0.6s ease forwards;
    -o-animation: navbar-scrolldown-anime 0.6s ease forwards;
}

.Nav-Bar-ScrollUp{
    animation: navbar-scrollup-anime 0.6s ease forwards;
    -moz-animation: navbar-scrollup-anime 0.6s ease forwards;
    -webkit-animation: navbar-scrollup-anime 0.6s ease forwards;
    -o-animation: navbar-scrollup-anime 0.6s ease forwards;
}

#Menu ul li a.a-OnScrollDown{
    animation: atags-scrolldown-anime 0.6s ease forwards;
    -moz-animation: atags-scrolldown-anime 0.6s ease forwards;
    -webkit-animation: atags-scrolldown-anime 0.6s ease forwards;
    -o-animation: atags-scrolldown-anime 0.6s ease forwards;
}

#Menu ul li a.a-OnScrollup{
    animation: atags-scrollup-anime 0.6s ease forwards;
    -moz-animation: atags-scrollup-anime 0.6s ease forwards;
    -webkit-animation: atags-scrollup-anime 0.6s ease forwards;
    -o-animation: atags-scrollup-anime 0.6s ease forwards;
}
#Logo.logo-OnScrollDown{
    animation: logo-scrolldown-anime 0.6s ease forwards;
    -moz-animation: logo-scrolldown-anime 0.6s ease forwards;
    -webkit-animation: logo-scrolldown-anime 0.6s ease forwards;
    -o-animation: logo-scrolldown-anime 0.6s ease forwards;
}
#Logo.logo-OnScrollUp{
    animation: logo-scrollup-anime 0.6s ease forwards;
    -moz-animation: logo-scrollup-anime 0.6s ease forwards;
    -webkit-animation: logo-scrollup-anime 0.6s ease forwards;
    -o-animation: logo-scrollup-anime 0.6s ease forwards;
}

#Menu ul.ul-OnScrollDown{
    animation: ul-scrolldown-anime 0.6s ease forwards;
    -moz-animation: ul-scrolldown-anime 0.6s ease forwards;
    -webkit-animation: ul-scrolldown-anime 0.6s ease forwards;
    -o-animation: ul-scrolldown-anime 0.6s ease forwards;
}

#Menu ul.ul-OnScrollUp{
    animation: ul-scrollup-anime 0.6s ease forwards;
    -moz-animation: ul-scrollup-anime 0.6s ease forwards;
    -webkit-animation: ul-scrollup-anime 0.6s ease forwards;
    -o-animation: ul-scrollup-anime 0.6s ease forwards;
}

@keyframes navbar-scrolldown-anime{
    from{
        padding: 2vh 10%;
        background: transparent;
    }
    to{
        padding: 0vh 10%;
        background: #011627;
    }
}

@-moz-keyframes navbar-scrolldown-anime{
    from{
        padding: 2vh 10%;
        background: transparent;
    }
    to{
        padding: 0vh 10%;
        background: #011627;
    }
}

@-webkit-keyframes navbar-scrolldown-anime{
    from{
        padding: 2vh 10%;
        background: transparent;
    }
    to{
        padding: 0vh 10%;
        background: #011627;
    }
}

@-o-keyframes navbar-scrolldown-anime{
    from{
        padding: 2vh 10%;
        background: transparent;
    }
    to{
        padding: 0vh 10%;
        background: #011627;
    }
}

@keyframes atags-scrolldown-anime{
    from{
        color: #1b2735;
    }
    to{
        color: #f8fffd;
    }
}

@-moz-keyframes atags-scrolldown-anime{
    from{
        color: #1b2735;
    }
    to{
        color: #f8fffd;
    }
}

@-webkit-keyframes atags-scrolldown-anime{
    from{
        color: #1b2735;
    }
    to{
        color: #f8fffd;
    }
}

@-o-keyframes atags-scrolldown-anime{
    from{
        color: #1b2735;
    }
    to{
        color: #f8fffd;
    }
}

@keyframes logo-scrolldown-anime{
    from{
        transform: translateY(0%);
        width: 12vw;
    }
    to{
        transform: translateY(15%);
        width: 7vw;
    }
}

@-moz-keyframes logo-scrolldown-anime{
    from{
        transform: translateY(0%);
        -moz-transform: translateY(0%);
        width: 12vw;
    }
    to{
        transform: translateY(15%);
        -moz-transform: translateY(15%);
        width: 7vw;
    }
}

@-webkit-keyframes logo-scrolldown-anime{
    from{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        width: 12vw;
    }
    to{
        transform: translateY(15%);
        -webkit-transform: translateY(15%);
        width: 7vw;
    }
}

@-o-keyframes logo-scrolldown-anime{
    from{
        transform: translateY(0%);
        -o-transform: translateY(0%);
        width: 12vw;
    }
    to{
        transform: translateY(15%);
        -o-transform: translateY(15%);
        width: 7vw;
    }
}

@keyframes ul-scrolldown-anime{
    from{
        transform: translateY(-30%);
    }
    to{
        transform: translateY(10%);
    }
}

@-moz-keyframes ul-scrolldown-anime{
    from{
        transform: translateY(-30%);
        -moz-transform: translateY(-30%);
    }
    to{
        transform: translateY(10%);
        -moz-transform: translateY(10%);
    }
}

@-webkit-keyframes ul-scrolldown-anime{
    from{
        transform: translateY(-30%);
        -webkit-transform: translateY(-30%);
    }
    to{
        transform: translateY(10%);
        -webkit-transform: translateY(10%);
    }
}

@-o-keyframes ul-scrolldown-anime{
    from{
        transform: translateY(-30%);
        -o-transform: translateY(-30%);
    }
    to{
        transform: translateY(10%);
        -o-transform: translateY(10%);
    }
}

@keyframes navbar-scrollup-anime{
    from{
        padding: 0vh 10%;
        background: #011627;
    }
    to{
        padding: 2vh 10%;
        background: transparent;
    }
}

@-moz-keyframes navbar-scrollup-anime{
    from{
        padding: 0vh 10%;
        background: #011627;
    }
    to{
        padding: 2vh 10%;
        background: transparent;
    }
}

@-webkit-keyframes navbar-scrollup-anime{
    from{
        padding: 0vh 10%;
        background: #011627;
    }
    to{
        padding: 2vh 10%;
        background: transparent;
    }
}

@-o-keyframes navbar-scrollup-anime{
    from{
        padding: 0vh 10%;
        background: #011627;
    }
    to{
        padding: 2vh 10%;
        background: transparent;
    }
}

@keyframes atags-scrollup-anime{
    from{
        color: #f8fffd;
    }
    to{
        color: #1b2735;
    }
}

@-moz-keyframes atags-scrollup-anime{
    from{
        color: #f8fffd;
    }
    to{
        color: #1b2735;
    }
}

@-webkit-keyframes atags-scrollup-anime{
    from{
        color: #f8fffd;
    }
    to{
        color: #1b2735;
    }
}

@-o-keyframes atags-scrollup-anime{
    from{
        color: #f8fffd;
    }
    to{
        color: #1b2735;
    }
}

@keyframes logo-scrollup-anime{
    from{
        margin-top: 5px;
        width: 7vw;
    }
    to{ 
        margin-top: 0px;
        width: 12vw;
    }
}

@-moz-keyframes logo-scrollup-anime{
    from{
        margin-top: 5px;
        width: 7vw;
    }
    to{ 
        margin-top: 0px;
        width: 12vw;
    }
}

@-webkit-keyframes logo-scrollup-anime{
    from{
        margin-top: 5px;
        width: 7vw;
    }
    to{ 
        margin-top: 0px;
        width: 12vw;
    }
}

@-o-keyframes logo-scrollup-anime{
    from{
        margin-top: 5px;
        width: 7vw;
    }
    to{ 
        margin-top: 0px;
        width: 12vw;
    }
}

@keyframes ul-scrollup-anime{
    from{
        transform: translateY(10%);
    }
    to{
        transform: translateY(-30%);
    }
}

@-moz-keyframes ul-scrollup-anime{
    from{
        transform: translateY(10%);
        -moz-transform: translateY(10%);
    }
    to{
        transform: translateY(-30%);
        -moz-transform: translateY(-30%);
    }
}

@-webkit-keyframes ul-scrollup-anime{
    from{
        transform: translateY(10%);
        -webkit-transform: translateY(10%);
    }
    to{
        transform: translateY(-30%);
        -webkit-transform: translateY(-30%);
    }
}

@-o-keyframes ul-scrollup-anime{
    from{
        transform: translateY(10%);
        -o-transform: translateY(10%);
    }
    to{
        transform: translateY(-30%);
        -o-transform: translateY(-30%);
    }
}