#ProjectStack-Container{
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(var(--tertiary-color) , var(--tertiary-color-7));
    background: -moz-linear-gradient(var(--tertiary-color) , var(--tertiary-color-7));
    background: -webkit-linear-gradient(var(--tertiary-color) , var(--tertiary-color-7));
    background: -o-linear-gradient(var(--tertiary-color) , var(--tertiary-color-7));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
}
#ProjectStack{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3vw;
    row-gap: 3vw;
    -moz-column-gap: 3vw;
    -webkit-column-gap: 3vw;
    -moz-row-gap: 3vw;
    -webkit-row-gap: 3vw;
    padding: 5vh 0;
}

/*
#ProjectStack-ShowMore-btn{
    background: transparent;
    font-weight: bolder;
    font-size: 1.2em;
    border: none;
    padding: 18px 70px;
    border-radius: 2%;
    display: inline-block;
    text-decoration: none;
    color: #866404;
    border: 3px solid #cf9903; 
}

#ProjectStack-ShowMore-btn:hover{
    padding: 20px 70px;
    border: none;
    color: #152a42;
    background: #ffbb00;
    border-bottom: 3px solid #be8d03; 
}

#ProjectStack-ShowMore-btn:focus{
    outline: none;
}

#ProjectStack-ShowMore-btn:active{
    border-bottom: 1px solid #ac7f04;
    transform: translateY(4px);
}
*/

#ProjectStack-ShowMore-btn{
    outline: none;
    color: #966f05;
    padding: 2vh 3vw;
    border: none;
    font-size: 1.5em;
    border-radius: 20px;
    background: var(--tertiary-color-8);
    border: 2px solid var(--tertiary-color-8);
    box-shadow: 6px 6px 20px #0000001a, 
            -6px -6px 20px #f3f2f27e;
}

#ProjectStack-ShowMore-btn:hover{
    cursor: pointer;
    border: 2px solid var(--tertiary-color-9);
    box-shadow: 6px 6px 20px #0000001a, 
            -6px -6px 20px #e0dedec4;
}

#ProjectStack-ShowMore-btn:active{
     box-shadow: inset 7px 7px 20px #00000021, 
           inset -7px -7px 20px #ffffffbd;
}

@media(max-width: 1200px){
    #ProjectStack{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 800px){

}

@media(max-width: 500px){
    #ProjectStack{
        grid-template-columns: 1fr;
    }
}

@media(min-width: 2560px){
    #ProjectStack-ShowMore-btn{
        font-size: 2em;
    }
}

@media(min-width: 3840px){
    #ProjectStack-ShowMore-btn{
        font-size: 3.5em;
    }
}

@media(min-width: 7680px){
    #ProjectStack-ShowMore-btn{
        font-size: 7em;
    }
}