#ProgrammingSkillCard{
    display: inline-block;
    color: var(--tertiary-color-15);
    width: 310px;
    padding: 40px 40px 40px;
    border-radius: 10px;
    background: var(--tertiary-color-14);
    text-align: center;
    box-shadow: -4px -2px 4px 0px var(--tertiary-color-9), 4px 2px 6px 0px var(--tertiary-color-16);
}

@media(max-width: 1200px){
    #ProgrammingSkillCard{
        width: 200px;
    }
}

@media(max-width: 800px){
    #ProgrammingSkillCard{
        width: 310px;
    }
}

@media(max-width: 400px){
    #ProgrammingSkillCard{
        width: 230px;
    }
}

@media(min-width: 2560px){
    #ProgrammingSkillCard{
        width: 20vw;
        padding: 4vh 4vh 4vh;
        border-radius: 1.5vh;
    }
}

@media(min-width: 3840px){

}

@media(min-width: 7680px){

}