#ContactMe{
    width: 100vw;
    background: var(--tertiary-color-14);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--tertiary-color-10);
    padding: 0px 0 50px;
}

#ContactMe-Title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#ContactMe-Title h1{
    font-size: 4em;
    color: var(--tertiary-color-10);
    text-shadow: 5px 5px 10px #0000001a, 
               -5px -5px 10px #ffffff;
}

#ContactMe-Card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 0px;
    background: var(--tertiary-color-14);
    border-radius: 10px;
    text-align: center;
    box-shadow: -4px -2px 4px 0px var(--tertiary-color-9), 4px 2px 6px 0px var(--tertiary-color-16);
}

#ContactMe-Card-Top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
    -moz-column-gap: 5vw;
    -webkit-column-gap: 5vw;
    -o-column-gap: 5vw;
}

#ContactMe-Card-Top-Left{
    text-align: center;
}

#ContactMe-Card-Top-Left h1{
    font-size: 3em;
}

#ContactMe-Card-Top-Left h2{
    font-size: 2em;  
    color: var(--tertiary-color-19);
}

#ContactMe-Card-Top-Left h3{
    color: var(--tertiary-color-20);
}

#ContactMe-Card-Top-Right{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ContactMe-SocialIcons-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ContactMe-SocialIcons-Grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    -moz-row-gap: 20px;
    -webkit-row-gap: 20px;
}

#ContactMe-SocialIcons-Grid a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    box-shadow: -4px -2px 4px 0px var(--tertiary-color-9), 4px 2px 6px 0px var(--tertiary-color-16);
}

#ContactMe-SocialIcons-Grid a:hover{
    box-shadow: -4px -2px 4px 0px var(--tertiary-color-21), 4px 2px 6px 0px var(--tertiary-color-22);
}

#ContactMe-SocialIcons-Grid a:active{
    box-shadow: inset -4px -2px 4px 0px var(--tertiary-color-21), inset 4px 2px 6px 0px var(--tertiary-color-22);
}

#ContactMe-SocialIcons-Grid img{
    width: 50px;
}

#ContactMe-Card-Bottom{
    width: 100%;
    text-align: center;
}

#ContactMe-Card-Bottom a{
    text-decoration: none;
}

#ContactMe-Card-Bottom h4{
    margin-bottom: 7px;
    color: var(--tertiary-color-23);
}

#ContactMe-Card-Bottom h4:hover{
    color: var(--tertiary-color-24);
}

@media(max-width: 1100px){
    #ContactMe-Card-Top{
        column-gap: 0vw;
        -moz-column-gap: 0vw;
        -webkit-column-gap: 0vw;
    }
}

@media(max-width: 800px){
    #ContactMe-Card-Top{
        grid-template-columns: 1fr;
        row-gap: 3vh;
        -moz-row-gap: 3vh;
        -webkit-row-gap: 3vh;
    }

    #ContactMe-SocialIcons-Grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 2vh;
    }

    #ContactMe-Title h1{
        font-size: 3em;
    }
}

@media(max-width: 500px){
    #ContactMe-Card-Top-Left h1{
        font-size: 2em;
    }
    
    #ContactMe-Card-Top-Left h2{
        font-size: 1.2em;  
    }

    #ContactMe-Card-Bottom h4{
        font-size: 0.8em;
    }

    #ContactMe-SocialIcons-Grid img{
        width: 25px;
    }
}

@media(min-width: 2560px){
    #ContactMe-Title h1{
        font-size: 5.5em;
    }

    #ContactMe-Card-Top-Left h1{
        font-size: 4em;
    }
    
    #ContactMe-Card-Top-Left h2{
        font-size: 2.5em;  
    }

    #ContactMe-Card-Top-Left h3{
        font-size: 2em;
    }

    #ContactMe-Card-Bottom h4{
        font-size: 1.5em;
    }

    #ContactMe-SocialIcons-Grid{
        column-gap: 2vh;
        row-gap: 2vh;
        -moz-column-gap: 2vh;
        -webkit-column-gap: 2vh;
        -moz-row-gap: 2vh;
        -webkit-row-gap: 2vh;
    }

    #ContactMe-SocialIcons-Grid img{
        width: 3vw;
    }
}

@media(min-width: 3840px){
    #ContactMe-Title h1{
        font-size: 9em;
    }
    
    #ContactMe-Card-Top-Left h1{
        font-size: 6em;
    }
    
    #ContactMe-Card-Top-Left h2{
        font-size: 3.5em;  
    }

    #ContactMe-Card-Top-Left h3{
        font-size: 3em;
    }

    #ContactMe-Card-Bottom h4{
        font-size: 2.5em;
    }

}

@media(min-width: 7680px){
    #ContactMe-Title h1{
        font-size: 18em;
    }
    
    #ContactMe-Card-Top-Left h1{
        font-size: 12em;
    }
    
    #ContactMe-Card-Top-Left h2{
        font-size: 7em;  
    }

    #ContactMe-Card-Top-Left h3{
        font-size: 6em;
    }

    #ContactMe-Card-Bottom h4{
        font-size: 5em;
    }
}