#WhyWorkWithMe-Section{
    width: 100vw;
    background: var(--tertiary-color-14);
    padding: 50px 0;
}

#WhyWorkWithMe-Title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#WhyWorkWithMe-Title h1{
    font-size: 4em;
    color: var(--tertiary-color-10);
    text-shadow: 5px 5px 10px #0000001a, 
               -5px -5px 10px #ffffff;
}

#WhyWorkWithMe-Body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6vh 0;
}

#WhyWorkWithMe-Grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6vw;
}

@media(max-width: 1200px){

}

@media(max-width: 800px){
    #WhyWorkWithMe-Title h1{
        font-size: 4em;
    }

    #WhyWorkWithMe-Grid{ 
        grid-template-columns: 1fr;
        row-gap: 5vh;
    }
}

@media(max-width: 500px){
    #WhyWorkWithMe-Title h1{
        font-size: 2em;
    }
}

@media(min-width: 2560px){
    #WhyWorkWithMe-Title h1{
        font-size: 5.5em;
    }
}

@media(min-width: 3840px){
    #WhyWorkWithMe-Title h1{
        font-size: 9em;
    }
}

@media(min-width: 7680px){
    #WhyWorkWithMe-Title h1{
        font-size: 18em;
    }
}