#AboutMe{
    width: 100vw;
    height: 100vh;
    background: #011627;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4e1d0;
}
#AboutMe-Container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 60%;
}
#AboutMe-Left{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#AboutMe-Right{
    width: 50%;
    height: 100%;
}
#AboutMe-Left img{
    width: 300px;
    border-radius: 50%;
}
#AboutMe-Title{
    font-size: 1.6em;
}
#AboutMe-Body{
    margin-top: 27px;
    font-size: 1.2em;
}
#AboutMe-Quote{
    margin-top: 30px;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #eee9cfd7;
    font-style: oblique;
}
#AboutMe-Quote p{
    align-self: flex-start;
}
#AboutMe-Quote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 20px;
}
#AboutMe-Quote small{
    color: #eee9cf7a;
}
#AboutMe-Quote.Quote-Animation{
    animation: quote-anime 15s ease infinite
}
@keyframes quote-anime{ 
    0%{
        opacity: 0%;
        transform: translate(0%, 50%);
    }
    5%{
        opacity: 100%;
        transform: translate(0%, 0%);
    }
    95%{
        opacity: 100%;
        transform: translate(0%, 0%);
    }
    100%{
        opacity: 0%;
        transform: translate(0%, -50%);
    }
}